### CORS Profile for "dev" or "prod" 

SPRING_PROFILES_ACTIVE=dev

### DevOps uncomment
# PROFILES_DEV_ALLOWED_ORIGIN=http://your-domain.com, http://your-domain.com:3122, http://your-domain.comt:3123, http://your-domain.com:3121, http://your-domain.com:3126

### Allow CORS For localhost. Uncomment and comment others
# PROFILES_DEV_ALLOWED_ORIGIN=http://localhost, http://localhost:3122, http://localhost:3123, http://localhost:3121, http://localhost:3126

### This is for Produnction
# SPRING_PROFILES_ACTIVE=prod 
# PROFILES_PROD_ALLOWED_ORIGINS=https://carelyo.io, https://carelyo.top, https://carelyo.com, https://carelyo.in


# api Setup
### Admin Portal
ADMIN_EMAIL=
ADMIN_MOBILE=
ADMIN_PASSWORD=

### Daily
DAILY_VIDEO_APIKEY=
DAILY_VIDEO_URL=

### Others
ERROR_INCLUDE_MESSAGE=always
ERROR_INCLUDE_STACKTRACE=never
JPA_HIBERNATE_DDL=update

### Login URL
LOGIN_URL=

### Email
MAIL_AUTH=false
MAIL_FROM=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_TLS=
MAIL_USERNAME=

##¤ Minio
TEMPLATE_BUCKET_NAME=html-templates
TEMPLATE_ROOT_FOLDER=plain_templates/
TEMPLATE_DEFAULT_LANGUAGE=En
MINIO_ACCESS_NAME=
MINIO_ACCESS_SECRET=
MINIO_URL=

### MYSQL
MYSQL_HOST=db
MYSQL_DATABASE=devdb01
MYSQL_PASSWORD=devdbpass
MYSQL_USER=devuser      
MYSQL_ROOT_PASSWORD=dvruser

### Paystack
PAYSTACK_API_KEY=
CUSTOMER_PAYSTACK=true or false

### Provider
PROVIDER_ADDRESS=
PROVIDER_COUNTRY=
PROVIDER_EMAIL=
PROVIDER_LOGO=https://tinyurl.com/pillmartlogo
PROVIDER_MOBILE=+233598712485
PROVIDER_NAME=Pillmart
PROVIDER_PRACTICE_NUMBER=25142312346
PROVIDER_WEBSITE=https://pillmart.carelyo.in
PROVIDER_CURRENCY=NGN
PROVIDER_TYPE=Hospital
SWAGGER_ENABLED=false
STATUS_TO_BOOKED_DELAY=5

DISCOUNT_CONSULTATION_PERCENTAGE=0.1
DISCOUNT_CONSULTATION_COUNT=25000