<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome doctor</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
Dear <span th:text="${doctor_name}">,
    <br/>
    <br/>
    We would like to extend a warm welcome to you as a new registered doctor on
    Carelyo . We are excited to have you as a part of our community and look
    forward to working with you to improve the health and well-being of our
    patients.
    <br/>
    <br/>
    As a registered doctor on our platform, you will have access to a range of
    tools and resources to help you provide the best possible care to your
    patients. You will be able to connect with other healthcare professionals,
    share your expertise, and collaborate on patient care.
    <br/>
    <br/>
    Thank you for joining us, and we look forward to a long and fruitful
    partnership.
    <br/>
    <br/>
    Best regards, Carelyo team
    </span>
</body>
</html>
