VITE_API_URL=http://localhost:8000/api
VITE_LOGIN_URL=http://localhost:5510
VITE_DOMAIN=carelyo.top
PORT=5511
VITE_POLLING_RATE=3000
VITE_STRIPE_PUBLIC_API_KEY=use_paystack_test
VITE_PROVIDER_NAME=Pillmart
VITE_PROVIDER_HEX_COLOR=Yellow
VITE_DEFAULT_PHONE_NUMBER_COUNTRY=gh
VITE_DEFAULT_COUNTRY=Ghana
VITE_PAYSTACK_URL=https://api.paystack.co/bank
VITE_BANK=
VITE_BANKACCOUNT=
VITE_DEVMODE=true