.btn {
	display: flex;
	text-align: center;
}

.wrapper {
	min-height: 650;
	width: 80%;
	padding-top: calc(10px / 2);
	padding-bottom: calc(10px / 2);
}

@media (max-width: 500px) {
	.wrapper {
		width: 100%;
	}
}
