.notfound-container {
	position: relative;
}

.notfound-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 767px;
	width: 100%;
	line-height: 1.4;
	padding: 0px 15px;
}

.notfound-404 {
	position: relative;
	height: 118px;
	line-height: 150px;
	font-family: Poppins, sans-serif;
	font-size: 80px;
	font-weight: 900;
	margin: 0px;
	text-transform: uppercase;
	color: #12a074;
}

.notfound-p {
	font-family: Poppins, sans-serif;
	font-size: 15px;
}

.notfound-h2 {
	font-family: Poppins, sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 20px;
}
