NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_DOMAIN=localhost
NEXT_PUBLIC_LOGIN_URL=http://localhost:5510
PORT=5516
NODE_ENV=development
NEXT_PUBLIC_COUNTRY_CODE=NG
NEXT_TELEMETRY_DISABLED=1
