
#   This is an example env file.
#   Copy the contents of this file and create a .env file.
#   Add the correct values
#   Values for the daily api can be found at https://app.passit.io
#   For documentation about then environment refer to carelyo docs at https://carelyo.viabay.se/share/7ace9844-bcb6-48b8-aadd-383a5f3eb940

NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_API_URL=https://api.carelyo.top/api
NEXT_PUBLIC_LOGIN_URL=http://localhost:3122/login
NEXT_PUBLIC_BASE_PATH=/doctor
NEXT_PUBLIC_SHOW_LOGGER=true
NEXT_PUBLIC_DAILY_DOMAIN=https://viabay.daily.co
NEXT_PUBLIC_DAILY_REST_DOMAIN=https://api.daily.co/v1
NEXT_PUBLIC_DAILY_API_KEY=
